.swiper {
    width: 100%;
    border-radius: 4px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}

.swiper-slide img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 80px solid transparent;
    border-left: 80px solid #3490dc;
}